body {
    background-color: #F8F4E1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {


    width: 360px;
    height: 420px;
    background-color: white;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px;
    text-align: center;
    display: block;
}

#title {
    padding-top: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#textBox{
    text-align: center;
    border-radius: 5px;
}

button {

    height: 30px;
    width: 120px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-weight: bold;
    
}

button:hover {
    background-color: grey;
}